	
body{
	background-color:#e6e6e6;
	font-family: Courier, monospace;
	font-size: 12px;
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	transform: translatez(0);
}

.animate {
  position: absolute;
	top:250px;
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	transform: translatez(0);
}

.pic{
  width: 250px;
  height: 250px;
  border-radius: 125px;
	box-shadow:0 0 0 3px #aaa;
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	transform: translatez(0);
}

#apic{
  background-color: #333333;
}

#bpic{
  background-color: #555555;
}

#cpic{
  background-color: #111111;
}

.pic:hover{
  box-shadow:0 0 0 5px #80deff;
  transition: 250ms;
}

#a{
	left: 0%;
}
#b{
	left: 0%;
}
#c{
	left: 0%;
}

.sub {
	display: block;
	width:75px;
	height:75px;
	border-radius: 50px;
	position: absolute;
}

.sub:hover{
	box-shadow:0 0 0 2px #80deff;
	transition: 300ms;
}


.label{
	color:#111;
	font-family: Courier, monospace;
	font-size: 14px;
	text-align:center;
	text-transform: uppercase;
}

.item{
	height: auto;
	width: auto;
	display: none;
	color: #eee;
	position: absolute;
	font-family: Courier, monospace;
	font-size: 14px;
}


.droppedElem{
	position: absolute;
}

.droppedElem:hover{
	text-decoration: underline;
}

.bigger{
	width:50px;
	height:50px;
}