.row>p{
	margin-left:20px;
	margin-right:20px;
	color:#c8c8c8;
}

table{
	color:#c8c8c8;
}

li {
	color:#c8c8c8;
}

code{
	background-color: #333333;
	color: #80deff;
}

video{
	margin-bottom:20px;
}

.navbar-wrapper{
	float:right;
	margin-right:40px;
}

.nav-inline{
	float:right;
}

.nav-item{
	padding-top:10px;
}

.nav-link{
	color:#eee;
}

.nav-item{
	margin-bottom:-20px;
}

.nav-link:hover{
	text-decoration: underline;
}

.img-circle{
	border-radius:50%;
	border:2px solid #aaa;
	width:300px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	-webkit-box-shadow: 6px 6px 15px -8px rgba(0,0,0,0.5);
	-moz-box-shadow: 6px 6px 15px -8px rgba(0,0,0,0.5);
	box-shadow: 6px 6px 15px -8px rgba(0,0,0,0.5);
}

.module{
	height:100%;
	width: 80%;
	backface-visibility:hidden;
	transform-style: preserve-3d;
	margin: 0 auto;
}

li>a{
	font-family: Courier, monospace;
	font-size: 14px;
}

a>.img-circle{
	max-width:200px;
	opacity:0.8;
    -webkit-filter: grayscale(100%) brightness(95%); 
    filter: grayscale(100%) brightness(95%);
	transform: translate3D(0, 0, 0);
	transition:250ms 100ms;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

a>.img-circle:hover{
	border:5px solid #80deff;
	opacity:1;
    -webkit-filter: grayscale(0%) brightness(100%); 
    filter: grayscale(0%) brightness(100%);
	transform: translate3D(0, 0, 0);
	transform-style: preserve-3d;
	transition: 100ms;
	backface-visibility:hidden;
}


.sublink{
	color: #80deff;
}

.sublink:hover{
	color: #80deff;
}


.label{
	text-align:center;
	margin-top:20px;
	margin-bottom:50px;
	text-transform: uppercase;
	text-decoration: none;
}

.submodule{
	text-align:center;
	margin-top:20px;
	margin-bottom:30px;
}

.headlabel{
	color:#eee;
	text-align:center;
	font-size:16px;
	margin-top:20px;
	margin-bottom:30px;
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom:1px;
	border-bottom:1px solid #eee;
	display:inline;
}


a:hover{
    color:#80deff;
}

#logo{
	margin-top:20px;
	max-width:300px;
}

@media(min-width:768px){
	.navbar-wrapper{
	margin-top:25px;
	}
	#hidden{
		display:none;
		margin-left:20px;
		margin-right:-20px !important;
	}
}

@media(max-width:767px){
	#expanded{
		display:none;
	}
	#hidden{
		padding-left:0px !important;
		margin-left:0px !important;
		display:block !important;
	}
	#logo{
		padding-right:0px !important;
		margin-right:0px !important;
		margin-left:0px !important;
		padding-left:0px !important;
		width:100% !important;
		max-width:250px !important;
	}
	.navbar-wrapper{
		display:block !important;
		margin-top:20px;
		margin-right:40px !important;
		padding-left:0px !important;
		padding-right:0px !important;
		margin-left:0px !important;
	}
	.btn-group{
		padding-left:0px !important;
		margin-left:0px !important;
		margin-right:0px !important;
		padding-right:0px !important;
	}

	.btn-group>button{
		background-color: #333;
	}
	.container-fluid{
		margin-right:0px !important;
		padding-right:0px !important;
		margin-left:0px !important;
		padding-left:0px !important;
	}
	.container-fluid>.row{
		margin-right:-20px !important;
		padding-right:0px !important;
		margin-left:0px !important;
		padding-left:0px !important;
	}
}
.navbar{
	float:right;
}

.container{
	max-width: 75vw;
}

.btn{
	color:#eee;
	border-radius:10px!important;
	border:1px solid #aaa;
	padding-top:8px;
	padding-left:14px;
	padding-right:14px;
	transform: scale(0.8,0.8);
	margin:0px 0px 0px 0px !important;
}

.dropdown-menu{
	color:#eee;
	font-size:inherit;
	border:1px solid #aaa;
	border-radius:0px;
}

#foot{
	color:#888;
	margin-left:20px;
	margin-bottom:0px;
	padding-bottom:0px;
	margin-top:-15px;
	font-size: 10px;
}

.caption{
	padding-bottom:12px;
	padding-top:0px;
	margin:0 0 0 0;
	float:left;
	color:#eee !important;
	display:inline;
}

.caption:hover{
	text-decoration:underline;
}

.bold{
	font-weight: bold;
}


#less{
	width:100px;
	color:#eee;
}

.breakless{
	width:100%;
	height:1px;
	background-color:#888;
	display:inline-block;
	z-index:100;
	margin-bottom:15px;
	clear:both;
}

#more{
	margin-top:50px;
	margin-bottom:65px;
}

#more2{
	margin-top:50px;
	margin-bottom:0px;
}

object{
	overflow:hidden;
}

.left{
	margin-left:20px !important;
	display:inline-block !important;
	float:right !important;
}


body{
	background-color:#141414 !important; 
	font-family: Menlo,monospace;
	font-size:14px;
	font-weight: lighter;
}

strong{
	font-weight: bold;
	color: #fff;
}

.offset-xs-1>.img-fluid{
	padding-bottom:36px;
	padding-top:0;
	margin:0 0 0 0;
}

.secthead{
	float:left;
	padding-left:50px;
}

.drophide{
	min-width:30px;
	min-height:30px;
	text-align: center;
	font-size: 18px;
	margin-top: 10px;
	margin-right: 20px;
	border: 1px solid;
	border-radius: 20px;
	color: #eee;
}
.droppedElem{
	position: absolute;
	color: #eee;
}

.droppedElem:hover{
	text-decoration: underline;
}

.bigger{
	width:50px;
	height:50px;
}