$foreground: #f6f7ef;
$background: #474444;
$green: #54ca72;
$blue: #00bfa4;
$green-dark: hsl(135.25, 52.68, 44);
$green-alpha: #54ca7244;

html {
  height: 100%;
}

*::selection {
  background: #54ca7244;
}

*::-moz-selection {
  background: #54ca7244;
}


body {
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
}

.root {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  width: 33%;
  height: 100%;
  background-color: #474444;
  display: flex;
  flex-direction: column;
  align-items: center;

  .headshot {
    margin-top: 100px;
    background-color: $foreground;
    width: 216px;
    height: 216px;
    border: 8px solid $green;
    border-radius: 100%;
    overflow: hidden;
  }

  .bio {
    margin-top: 30px;
    color: $foreground;
    font-size: 40px;
    font-weight: 700;
  }

  .email {
    color: $foreground;
    font-weight: 700;
    letter-spacing: 0.7px;
  }
}

.content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $background;
}

.navbar {
  font-size: 20px;
  height: 100px;
  width: 100%;
  background-color: $background;
  display: flex;
  align-items: center;
}

.navbar {
  ul {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  li {
    color: $foreground;
    padding: 8px 16px;
    border-radius: 8px;

    &.active {
      border: 2px solid $green;
    }
  }
}

.main-content {
  height: 100%;
  background-color: $foreground;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: $green-dark;
    text-decoration: none;
    border-bottom: 2px solid #ffffff00;
    transition: all linear 0.1s;

    &:hover {
      border-bottom: 1px solid $green-dark;
    }
  }

  .content {
    width: 80%;
    font-family: 'Roboto Slab', sans-serif;
    color: $background;
    margin-top: 20px;
    font-size: 20px;

    &:first-of-type {
      margin-top: 60px;
    }

    em {
      font-style: inherit;
      font-weight: 700;
    }
  }
}

.project-wrapper {
  width: 80%;
  margin-top: 40px;
  color: $background;

  .project-title {
    font-size: 30px;
    margin-left: 40px;
    padding: 0px 10px;
    color: #000;
    background-color: $foreground;
    position: relative;
    display: inline;
    z-index: 2;
  }

  .project-content {
    font-size: 20px;
    border: 2px solid $background;
    font-size-adjust: 20px;
    padding: 30px 20px;

    border-radius: 8px;
    margin-top: -20px;
    z-index: 1;
  }
}